{% extends 'Task.html' %}

{% load static %}
{% block title%}
{% endblock%}
{% block x%}
<div class=" container-fluid" style=" background-image:url(static/images/bg.jpg); min-height:800px; background-size:cover; background-attachment:fixed;" >
<div class="col-sm-9 ">
<!--educational background-->
 <div class="container-fluid row" style="min-height:500px;">
     <div class="col-sm-12" >
         <h1  class=" text-center" style="color:white; font-size:40px; font-family:arial black;margin-top:10%;"><b>Educational </br>Background</b><hr></h1>
<!--        card start-->

         <div class="card" style=" height:50px;width: 18rem; float:left; background:none; margin:5px 10px 10px 10px;">
  <div class="card-body" style=" border-radius:10px; background:#0047AB;">
    <h5 class="card-title" style="color:white;">Diploma in CSE</h5>
    <i><h6 class="card-subtitle mb-2 text-body-secondary" style="color:yellow;">2020-2023<hr></h6>
        <p class="card-text" style="color:white;">I had done diploma in computer science and engineering, from Government Polytechnic Unnao. Here I acquired first division.</p></i>
<!--    <a href="#" class="card-link">Card link</a>-->
<!--    <a href="#" class="card-link">Another link</a>-->
  </div>

         </div>
         <div class="card" style=" height:50px;width: 18rem; float:left; background:none;margin:5px 10px 10px 10px; ">
     <div class="card-body" style="border-radius:10px; background:#6F00FF; ">
    <h5 class="card-title" style="color:white;">Bachelor in Arts</h5>
    <i><h6 class="card-subtitle mb-2 text-body-secondary" style="color:yellow;">2021-2023<hr></h6>
        <p class="card-text" style="color:white;">I am Graduated from Chhatrapati Sahu Ji Maharaj Kanpur University. I complete my degree in political science.</p></i>
<!--    <a href="#" class="card-link">Card link</a>-->
<!--    <a href="#" class="card-link">Another link</a>-->
  </div>
</div>
         <div class="card" style=" height:50px;width: 18rem; float:left; background:none;margin:5px 10px 10px 10px; ">
     <div class="card-body" style="border-radius:10px; background:#9966CC; ">
    <h5 class="card-title" style="color:white;">Intermediate</h5>
    <i><h6 class="card-subtitle mb-2 text-body-secondary" style="color:yellow;">2019-2020<hr></h6>
        <p class="card-text" style="color:white;">I have done my 12 from Takshshila International education centre Kanpur. Here I awarded as Student of the year. </i></p>
<!--    <a href="#" class="card-link">Card link</a>-->
<!--    <a href="#" class="card-link">Another link</a>-->
  </div>
</div>
<!--         end card-->

 </div>

 </div>
<!--    Trainings and projects-->
        <div class="container-fluid row " style="min-height:500px;">
            <div class="col-sm-6">
                <h1  class=" text-center" style="color:white; font-size:40px; font-family:arial black;margin-top:10%;"><b>Trainings</b><hr></h1>
                    <ul type="disc" style="color:white;">
                        <li>
                            <h4 style="color:white;"><b>o1CodingClub</b></h4>
                            <h5><i style="color:yellow;">Internship</i></h5>
                            <i style="color:white;">It was a one one month Internship. Here I gain good work experience. I worked on Web development using django framework with python.</i>
                        </li>
                        <li>
                            <h4 style="color:white;"><b>Techpile technologies pvt. ltd.</b></h4>
                            <h5><i style="color:yellow;">Summer training,2022</i></h5>
                            <i style="color:white;">Here I learn web development with python which was my first 2 months industrial training.</i>
                        </li>
                        <li>
                            <h4 style="color:white;"><b>o1CodingClub</b></h4>
                            <h5><i style="color:yellow;">DSA training</i></h5>
                            <i style="color:white;">One month DSA virtual training gives me hands on experience.</i>
                        </li>
                        <li>
                            <h4 style="color:white;"><b>Cisco</b></h4>
                            <h5><i style="color:yellow;">Data Analytics</i></h5>
                            <i style="color:white;">It is a self paced virtual training.</i>
                        </li>

                    </ul>
            </div>
            <div class="col-sm-6">
                <h1  class=" text-center" style="color:white; font-size:40px; font-family:arial black;margin-top:10%;"><b>Projects</b><hr></h1>
                <ul type="disc" style="color:white;"><i>

                    <li><p style="color:white;">A web development project named IndiaTimes24/7 using with Django framework.</p></li>
                    <li><p style="color:white;">A Flipkart sales analysis and visualization dashboard using power BI.</p></li>
                    <li><p style="color:white;">A Walmart sales analysis and visualization dashboard using power BI.</p></li>


                </i></ul>
            </div>
        </div>
<!--    skills-->
    <div class="container-fluid row" style="min-height:500px;">
        <h1  class=" text-center" style="color:white; font-size:40px; font-family:arial black;margin-top:10%;"><b>Skills</b><hr></h1>
         <div class="col-sm-6">
             <h3  style="color:yellow; font-size:30px; font-family:arial black;margin-top:10%;"><i>Technical Skills</i></h3>
                <ul type="disc" style="color:white;"><i>
                    <li>Python</li>
                    <li>Power BI</li>
                    <li>SQL</li>
                    <li>Data analytics</li>
                    <li>Ms Excel</li>
                    <li>Ms word</li>
                    <li>Data visualization</li>
                    <li>Full stack web debvelopment</li>
                    <li>Django Framework</li>
                </i></ul>
         </div>
         <div class="col-sm-6">
             <h3  style="color:yellow; font-size:30px; font-family:arial black;margin-top:10%;"><i>Soft Skills</i></h3>
                <ul type="disc" style="color:white;"><i>
                    <li>Communication skills</li>
                    <li>Creativity</li>
                    <li>Innovative</li>
                    <li>Quick learner</li>
                    <li>Team management</li>
                    <li>Problem solving</li>
                    <li>Cooperative</li>
                </i></ul>
         </div>
    </div>
<!--    achievements and interest-->
    <div class="container-fluid row">
        <div class="col-sm-6 text-white">
            <h1  class="text-center" style="color:white; font-size:40px; font-family:arial black;margin-top:10%;">Achievements<hr></h1>
            <ul type="star" color="white"><i>
                <li>Achieved First position in academics in Government Polytechnic Unnao college.</li>
                <li>Served as Vice captain of school in 2019-2020.</li>
                <li>Awarded with Student of the year in 2020.</li>

            </i></ul>
        </div>
        <div class="col-sm-6 text-white">
            <h1 class="text-center"  style="color:white; font-size:40px; font-family:arial black;margin-top:10%;">Interest<hr></h1>
            <ul type="disc" ><i>
                <li>Fitness</li>
                <li>Digital marketing</li>
                <li>Data analysis</li>

           </i> </ul>
        </div>
    </div>
</div>
    <div class="col-sm-3"></div>
</div>


{%endblock%}